.cover {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

.coverTitle {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
}

.coverInput {
  padding: 10px;
}

.coverButton {
  padding: 10px;
  background-color: rgb(226, 227, 228);
  display: flex;
  flex-direction: row-reverse;
}

.input {
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 10px;
  color: #8d8d8d;
  width: 100%;
  height: 100px;
}

.button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 6px 10px;
  border-radius: 5px;
  min-width: 80px;
  background-color: rgb(31, 41, 55);
  color: white;
}